<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/relationship}" method="post" action="#">
        <label>Your email:</label>
        <input type="text" class="source-email protocol-data">
        <br>

        <label>Other users' email:</label>
        <input type="text" class="destination-email protocol-data">
        <br>

        <label>Other users' host:</label>
        <input type="text" class="destination-host protocol-data">
        <br>

        <select class="connection protocol-data">
            <option value="ADD">Send friend request</option>
        </select>
        <br>

        <input type="text" style="display:none;" th:value="${body}" name="body" class="protocol">
        <script>
            const sourceEmail = document.querySelector(".source-email");
            const destinationEmail = document.querySelector(".destination-email");
            const destinationHost = document.querySelector(".destination-host");
            const connection = document.querySelector(".connection");
            const protocol = document.querySelector(".protocol");

            document.querySelectorAll(".protocol-data").forEach((input) => {
               input.addEventListener("change", () => {
                   protocol.value = connection.value + " " + sourceEmail.value + " ${IP_ADDRESS} " + destinationEmail.value + " " + destinationHost.value+ " 0.1\n";
               })

            });
        </script>

        <button type="submit" class="submit-btn">Submit</button>
    </form>

</body>
</html>