<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BE MY FRIEND!!!!!</title>
</head>
<h1> BE MY FRIEND! </h1>
<body>
    <form>
        <label>Your email:</label>
        <input type="text" class="source-email protocol-data">
        <br>

        <label>Other users' email:</label>
        <input type="text" class="destination-email protocol-data">
        <br>

        <label>Other users' host:</label>
        <input type="text" class="destination-host protocol-data">
        <br>

        <select class="connection protocol-data">
            <option value="ADD">Send friend request</option>
            <option value="ACCEPT">Accept friend request</option>
            <option value="DELETE">Delete friend request</option>
            <option value="REMOVE">Remove friend</option>
            <option value="BLOCK">Block user</option>
        </select>
        <br>

        <button type="submit" class="submit-btn">Submit</button>

        <script>
            const sourceEmail = document.querySelector(".source-email");
            const destinationEmail = document.querySelector(".destination-email");
            const destinationHost = document.querySelector(".destination-host");
            const connection = document.querySelector(".connection");
            const button = document.querySelector("button");

            button.addEventListener("click", () => {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/relationship", true);
                xhr.setRequestHeader("Content-Type", "text/plain");
                xhr.send(connection.value + " " + sourceEmail.value + " " + window.location.host + " " + destinationEmail.value + " " + destinationHost.value+ " 0.1\n");
            });

        </script>

    </form>

</body>
</html>